/* flexslider */
.flexslider{position:relative; min-width: 1200px; height:420px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:420px;}

.flexslider .control-nav{
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 1;
  width: 100%;
}
.flexslider .control-nav .flex-control-nav{
  width: 942px;
  padding-left: 258px;
  margin: 0 auto;
}
.flexslider .control-nav .flex-control-nav li{
  float: left;
  margin-right: 8px;
}
.flexslider .control-nav .flex-control-nav li a{
  display: block;
  width: 150px;
  height: 24px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.flexslider .control-nav .flex-control-nav li a.flex-active{
  background-color: #cba446;
}


